@import (reference) "../../less/variables.less";

.benefits {
  background-color: @secondary-light;
  padding: 56px 0;
}

@media (min-width: @laptop) {
  .benefits {
    background-color: @secondary-light;
    padding: 80px 0;
  }
}