@import (reference) "../../less/variables.less";

.popup {
  position: fixed;
  z-index: 11;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.702);
  display: none;
  overflow-y: auto;

  &.is-active {
    display: block;
  }

  &__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    padding: 24px;
    width: 95%;
    max-width: 590px;
    @shadow-lg();
    border-radius: 20px;
    background-color: @white;

    &_dark {
      background-color:  @dark;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
  }

  &__title {
    text-align: center;
    width: 100%;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &__btn-wrapper {
    text-align: center;
  }
}

@media (min-width: @laptop) {
  .popup {
    &__wrapper {
      padding: 32px;
    }
  }
}